<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/test.css">
        <title>
            mTest
        </title>
    </head>
    <body>
        <h3>
            Millenial Test
        </h3>
        <p>
            Please enter your Twitter Handle below::<br>
            <form action="/hello" method="post">
                Twitter Handle: <input type="text" name="twitter_handle">  <br />
                <input type="submit" name= "form" value="Submit" />
            </form>
        </p>
    </body>
</html>